.learn-btn {
    margin: auto;
    width: 200px;
    height: 56px;
    border: 1.4px solid #458ff6;
    border-radius: 55px;
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
    font-size: 18px;
    color: #458ff6;
  }