<div class="about-us">
  <div class="about-us-wraper">
    <div class="about-us-container">
      <div class="left-content">
        <img src="../../assets/img/trafalgar-illustration sec02 1.png" />
      </div>
      <div class="right-content">
        <div class="about-us-card-desc">
          <p class="p1">Leading healthcare<br />providers</p>
          <svg
            width="56"
            height="2"
            viewBox="0 0 56 2"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="56" height="2" rx="1" fill="black" />
          </svg>
          <p class="p2">
            Trafalgar provides progressive, and affordable healthcare,
            accessible on mobile and online for everyone. To us, it’s not just
            work. We take pride in the solutions we deliver
          </p>
          <app-btn [btn_title]="btn1"></app-btn>
        </div>
      </div>
    </div>

    <div class="download-app-container">
      <div class="left-content">
        <img src="../../assets/img/trafalgar-illustration sec03 1.png" />
      </div>
      <div class="right-content">
        <div class="download-app-card-desc">
          <p class="p1">Download our<br />mobile apps</p>
          <svg
            width="56"
            height="2"
            viewBox="0 0 56 2"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="56" height="2" rx="1" fill="black" />
          </svg>
          <p class="p2">
            Our dedicated patient engagement app and web portal allow you to
            access information instantaneously (no tedeous form, long calls, or
            administrative hassle) and securely
          </p>
          <app-btn [btn_title]="btn2"></app-btn>
        </div>
      </div>
    </div>
  </div>
</div>
