<div class="home">
    <div class="home-left-container">
        <div class="home-left-element">
            <img src="../../assets/img/element.png">
        </div>
        <div class="home-left-content">
            <p class="p1">Virtual healthcare for you</p>
            <p class="p2">Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
            <div class="btn">Consult today</div>
        </div>
        
    </div>
    <div class="home-right-container">
        <img src="../../assets/img/trafalgar-header.png">
    </div>
</div>
